body {
    font-family: Arial, sans-serif;
    background-color: rgb(32, 32, 32);  
    margin-top: 70px;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    height: auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    padding-bottom: 20px;
    background-color: rgb(202, 202, 202); 
    box-shadow: 0 0 30px 0 whitesmoke;

  }
  
  h1 {
    margin-top: 40px;
  }
  
  form {
    margin-top: 15px;
    display: inline-block;
    text-align: left;
    padding-bottom: 10px;
    
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #414641;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  button[type="submit"]:hover {
    background-color: gray; 
} 
  .card {
    background-color: white;
    max-width: 500px;
    box-shadow: 0 px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    padding: 30px ;
    text-align: center;
    border-radius: 20px;
    
  }
  
  .loading {
    font-size: 18px;
    margin: 30px 0;
  }
  
  .error {
    color: red;
    font-size: 18px;
    margin: 30px 0;
  }